<div class="container">
    <h1 class="page-header">Edit</h1>
    <form name="myForm" onsubmit="return formValidation()" action=<%="/expense/update/" + expenseItem.id %> method="POST">
        <%
    let now = new Date()
    let yyyy = now.getFullYear();
    let mm = now.getMonth()+1;
    let dd = now.getDate();
    let hr = now.getHours()
    let min = now.getMinutes()
    
    if (dd < 10){ dd='0'+dd } 
    if (mm < 10){ mm='0'+mm } 
    if (hr < 10){ hr='0'+hr }
    if (min < 10){ min='0'+min }
    
    let today = yyyy+'-'+mm+'-'+dd +hr+':'+min;
    %>
            <div class="form-group">
                <label for="datetime">Date of Transaction</label>
                <input type="date" id="notify-date" name="datetime" value="<%= expenseItem.date %>" min="<%= today %>">
            </div>
            <div class="form-group">
                <label for="description">Transaction Description</label>
                <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter the Transaction Description" name="transaction"><%= expenseItem.transaction %></textarea>
            </div>
            <div class="form-group">
                <label for="cost">Cost of Expense</label>
                <input type="text" name="cost" value="<%= expenseItem.cost %>">
            </div>
            <div class="form-group">
                <label>Tags :</label>
                <input id="addTags" type="text" data-role="tagsinput" name="tags" class="form-control" value="<%= expenseItem.tags %>">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<script>
    formValidation = () => {
        let x = document.forms["myForm"]["cost"].value;
        if (isNaN(x) || x == "") {
            alert("The Cost of expense must be a number")
            return false;
        }
    }
    $('#addTags').tagsinput('add');
</script>